.form-screen.editing{


  .item{
    width: 25%;
    height: 60%;
    margin: 5%;
    min-width: 20%;
  }

  .item:hover{
      background: rgba(255,255,255,0.15);
      transition : all 0.45s;
      cursor: pointer;
  }

  .item.disable{
      width: 100%;
      height: 27%;
      opacity: 0.5;
      background: rgba(0,0,0,0.5);
      transition : all 0.5s;
  }

  .item.disable:hover{
      opacity: 0.5;
      background: rgba(0,0,0,0.5);
      cursor: initial;
  }

  span{
    margin: 1% 0;
  }
  .content.large{
    width: 90%;

  }
  .content{
    display: flex;
    margin: 0 auto;
    padding: 0;
    height: 70%;
    width: 70%;

    .block.form{
      height: 120%;
      display: flex;
      flex-direction: column;
      width: 100%;
      min-width: 90%;
      margin: 0;
      margin-top:-10%;
      > div{
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .inputs{
          > form {
            width:100%;
          }
        }

        form, .inputs{
          width: 65%;
          height: 100%;
          display: flex;
          flex-direction: column;

          textarea{
            height: 80%;
            width: 100%;
            padding: 5px;
          }
        }
      }
    }

    .block{
      > button{
        height: 100%;
        font-size: 21pt;
        margin: 2%;
        padding: 12px 12px;
      }

      .image {
      	width: 200px;
      	height: 200px;
        margin-left: 5%;
      	border: 1px solid white;
        cursor: pointer;
        display: flex;
        overflow: hidden;
        text-align: center;
        align-items: center;
        overflow: hidden;
        img{
          margin: auto;
          max-height: 100%;
        }
      }

      .image.empty{

      }
    }
  }
}

.editDialog{
  width: 70%;
  height: 70%;
  .modal-body{
    .listNav {
      width: 90%;
      height: 90%;
      margin: 5%;
      display: flex;
      flex-direction: column;


      > span{
        position: relative;
        > .list{
          position: absolute;
          top:0;
          left: 0;
        }
      }

      > div, > span {
        margin-top: 7px;
      }

      form{
        margin: 0;

        input{
          width: 50%;
          transition: width 0.5s;
        }

        input:hover, input:focus{
          width: 90%;
          transition: width 0.5s;
        }

        input, button{
          display: inline;
          padding: 5px;
          min-width: 20px;
        }
        button{
          display: inline;
          width: 20px;
          height: 20px;
          background-image: url(../images/add.svg);
          background-repeat: no-repeat;
          background-position-x: center;
          border: 0;
          vertical-align: middle;
          margin-left: -25px;
        }
      }

      form:hover input[type="text"]{
        width: 90%;
        transition: width 0.5s;
      }

      .buttons{
        text-align: center;
        .button{
          font-size: 15pt;
          padding: 5px 25px;
          min-width: 10px;
          display: inline;
          margin: 1px 15px;
          border:0;
        }
      }

      span{
        height: 100%;
        width: 100%;

        .list{
          flex-direction: row;
          display: flex;
          flex-wrap: wrap;
          min-height: 95%;
          max-height: 100%;
          align-items: center;

          .item{
            max-width: 31%;
            .insideItem{
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              img{
                max-width: 20%;
                height: 10%;
                //display: none;
              }
            }
            h3 {
                margin-top: 5%;
            }
          }

          .item:hover{
              background: rgba(255,255,255,0.15);
              transition : all 0.45s;
              cursor: pointer;
          }

          .item.disable{
              width: 100%;
              height: 27%;
              opacity: 0.5;
              background: rgba(0,0,0,0.5);
              transition : all 0.5s;
          }

          .item.disable:hover{
              opacity: 0.5;
              background: rgba(0,0,0,0.5);
              cursor: initial;
          }
        }
      }
    }
  }
}
