#app .game-container {
	transform: matrix(1, 0, 0, 1, 0, 0);
	opacity: 1;
	display: flex;
	text-align: justify;
	align-items: center;
	flex-direction: column;
	width: 80%;
	margin-left: 5%;
	margin-right: 10%;

	.stats{
		width : 100%;
		height: 20%;

		span{
			width: 100%;
			height: 30%;
			display: inline-block;
			.progress{
				width: 150px;
				vertical-align: middle;
				margin : 0;
				display: inline-block;
				background-color: unset;
				border: solid 1px white;
				border-radius: 0;
				height: 70%;
			}
			h4{
				margin: 0 2%;
				vertical-align: middle;
				width: 11%;
				display: inline-block;
				font-size : 9px;
				letter-spacing: 2px;
			}
		}
	}

  > span{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    overflow: visible;
  }
  .game-component {
    padding: 50px;
  }

	.game-wrapper {
		position: absolute;
    top: 0;
    left: 0;
    width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

  .button.story-answer{
    margin: 10px auto;
    opacity: 0;
  }
}

.story-text{
  margin: 15px 10px;
  letter-spacing: 3px;
  opacity: 0;
  line-height : 20px;
  font-size : 11px;
  text-align : left;
  padding : 0 40px;
}

.enigma-text{
  margin: 15px 10px;
  letter-spacing: 3px;
  opacity: 0;
  line-height : 20px;
  font-size : 11px;
  text-align : left;
  padding : 0 40px;
}

.enigma-img{
	position: relative;
	top:50%;
	transform : translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	opacity: 0;
	width:100%;
}

.enigma-left{

	display: flex;

	flex-direction: column;
	flex:1;
	
	&:empty{
		display:none;
	}
	
}
.enigma-right{

	float : right;
	display: flex;

	flex-direction: column;
	flex:2;
}

.enigma{
	
	display : flex;
	flex-direction: row;
}

.enigma-bottom{
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content: center;
}


.button.small{
  padding: 12px 5px;
	margin-top: 20px;
  min-width: 100px;
}

.enigma-form{
	display:flex;
	flex-direction:row;
	justify-content:center;
	width:100%;
}

form.enigma-form{
				span {
					display: block;
					position: relative;
					margin : 0 5% 2% 5%;
					width: 100%;
					height: 50px;
					input {
						width: 100%;
						height: 100%;
						display: block;
						border: 1px solid #fff;
						padding: 8px;
					
					}
					
					&.submit{
						width:30%;
						margin-left:0;
						margin-right:10%;
					}
					
					input[type="submit"]:after{
						width: 104%;
						height: 86%;
						content: '';
						border: 1px solid #fff;
						position: absolute;
						transition : all 0.4s;
						z-index: -1!important;
						bottom: 6%;
						left: -2.25%;
					}
					
					input[type="submit"]:before{
						width: 100%;
						height: 0%;
						content: '';
						background: rgba(255,255,255,0);
						position: absolute;
						transition : all 0.4s;
						z-index: -1!important;
						bottom: 0;
						left: 0;
					}
					
					
					input[type="submit"]:hover{
						width: 100%;
						height: 100%;
						content: '';
						background: rgba(255,255,255,0.15);
						position: absolute;
						transition : all 0.3s;
					}
					
					input[type="submit"]hover::after{
						background: rgba(255,255,255,0.15);
					}
				}
				
}