.contentProfil{
	display : flex;
	color : #fff;
	height : 100%;
	align-items : center;
}

.colGauche{
	display : flex;
	align-items : center;
	border : 1px solid #fff;
	height: 80%;
	width: 30%;
	margin-left: 7%;

	.insideCol{
		width : 100%;

		.bigProfil{
			display : block;
			margin : 0 auto 30px auto;
			border-radius : 50%;
			width : 40% ;
		}

		.userName{
			font-weight : normal;
			text-align : center;
			font-size : 11px;
			letter-spacing : 5px;
		}

		ul{
			text-align : center;
			font-size : 10px;
			letter-spacing : 4px;

			li{
				padding : 10px;

				a{
					text-decoration : none;
					color : #fff;
				}

			}
		}

		.element.button{
				margin : 15px auto 0 auto;
			}

		.button {
			min-width : 100px;
			width : 80%;
			text-align: center;
		}
	}
}

.contentRight{
	width : 93%;
	height : 83%;
	display : flex;
	align-items : center;

	.insideContent{
		margin : 0 auto !important;

		p{
			font-size : 11px;
			letter-spacing : 4px;
			padding : 20px 0;
		}

		.addPhoto{
			display : flex;
			flex-direction : row;

			.element{
				margin : 20px auto 40px auto;
			}

			.button{
				min-width : 150px;
			}
		}
	}

}

.contentProfil .contentRight{
	flex-wrap : wrap;
}

.item{
	display : flex;
	align-items : center ;
	border : 1px solid #fff;
	min-width : 30%;
	height : 48%;
	margin: 1%;
	flex: 1;

	.insideItem{
		width : 100%;

		img{
			margin-top : 0;
		}

		h3{
			font-size : 11px;
			text-align : center;
			font-weight : normal;
			letter-spacing : 4px;
		}
	}

}

.item.selected{
	background: rgba(0,0,0,0.15);
	transition : all 0.45s;
}
