@import './reset';
@import './profil';

$break-tiny: 340px;
$break-small: 560px;
$break-medium: 900px;
$break-large: 1200px;

$width-index: 80px;

html, body, #root, #app, #app > span, #wrapper {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.route-component{
  width:100%;
  position: absolute;
  top: 0;
  left: 0;
  display : flex;
  flex-direction : column;
  height : 100%;
}

html, body, #root, #app{
  background-color: black;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

html {
	font-family: 'Bjorn';
}


@font-face {
    font-family: 'Bjorn';
    src: url('../fonts/Bjorn Light.otf');
    font-weight: lighter;
}

@font-face {
    font-family: 'Bjorn';
    src: url('../fonts/Bjorn Regular.otf');
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: bold;
}



/* *** Header - General *** */
header {
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 3%;
	height: 70px;
	font-size: 10px;
	font-family: 'Bjorn';
	font-weight: lighter;
	position: relative;

	h1 {
		float: left;
		font-size: 10px;
	}

	.links {
		float: right;
		height: 100%;

		.profilPic {
			width: 32px;
			height: 32px;
			margin: auto;
			float: left;
			top: -8px;
			left: 5px;
		}

	}

	a, a:visited, p {
		text-decoration: none;
		padding-left: 18px;
		padding-right: 18px;
		padding-bottom: 6px;
		margin-top: 10px;
		display: block;
		float: left;
		vertical-align: middle;
		transition: all 0.25s;
		border-bottom: 0px solid rgba(255,255,255,0.75);
		position: relative;
	}

	a:hover{
		color: white !important;
	}

	a:before{
		width: 0%;
		height: 1px;
		content: '';
		background: rgba(255,255,255,0.75);
		position: absolute;
		transition : all 0.4s;
		bottom: 0;
		left: 20%;
	}

	a:hover::before{
		width: 60%;
		height: 1px;
		content: '';
		background: rgba(255,255,255,1);
		position: absolute;
		transition : all 0.3s;
	}

	#profilePopup {
		display: none;
	}

	.profileMenu {
		position: absolute;
		background-color: rgba(0,0,0,0.50);
		right: 4%;
		top: 25px;
		line-height: 2px;
		padding: 5px;
		z-index: 15;
		margin: 50px;

		div {
			margin: 10px;
		}

		img {
			width: 20px;
			height: 20px;
		}
	}

}

/* *** Blue background *** */

.blueScreen {
	background-image: url("../images/bgBlue_large.jpg");
	background-size: 100% 100%;
	background-repeat: none;

	header a:visited, header a {
		color: #62c4fa;
	}


}

/* *** Orange background *** */

.orangeScreen {
	background-image: url("../images/bgOrange_large.jpg");
	background-size: 100% 100%;
	background-repeat: none;

	header a:visited, header a {
		color: #f8ab61;
	}

}

/* *** Purple background *** */

.purpleScreen {
	background-image: url("../images/bgPurple_large.jpg");
	background-size: 100% 100%;
	background-repeat: none;

	header a:visited, header a {
		color: #6852D1;
	}
}

/* *** Screens - General *** */

.screen {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	height:100vh;
	color: white;

	a, p {
		letter-spacing: 4px;
	}

	.button{
		padding: 18px 8px;
		border: 1px solid rgba(255,255,255,0.85);
		background: rgba(255,255,255,0);
		display: block;
		position: relative;
		color: #fff;
		font-family: 'Bjorn';
		text-transform: uppercase;
		font-size: 10px;
		letter-spacing: 5px;
		text-decoration: none;
		margin: 0px 20px 0px 0px;
		border-bottom: 8px solid transparent;
		transition : all 0.3s;
		z-index: 10;
		border: 1px solid #fff;
		margin: auto;
		transition : all 0.3s;

		min-width: 220px;
		max-width: 350px;

		@media screen and (max-width: $break-small) {
			padding: 12px 5.5px;
			font-size: 10px;
		}

	}

	.button:after{
		width: 104%;
		height: 86%;
		content: '';
		border: 1px solid #fff;
		position: absolute;
		transition : all 0.4s;
		z-index: -1!important;
		bottom: 6%;
		left: -2.25%;
	}

	.button:before{
		width: 100%;
		height: 0%;
		content: '';
		background: rgba(255,255,255,0);
		position: absolute;
		transition : all 0.4s;
		z-index: -1!important;
		bottom: 0;
		left: 0;
	}

	.button:hover::before{
		width: 100%;
		height: 100%;
		content: '';
		background: rgba(255,255,255,0.15);
		position: absolute;
		transition : all 0.3s;
	}

	.button:hover::after{
		background: rgba(255,255,255,0.15);
	}

}

.picto {
	@media screen and (max-width: $break-small) {
    	width: 50px;
    }
	@media screen and (max-width: $break-tiny) {
    	display: none !important;
    }
}
.wave {
	@media screen and (max-width: $break-tiny) {
    	display: none !important;
    }
}

.columnsContainer {
	margin: auto;
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 95%;
}

.cols {
	display: flex;
	flex-direction: row;
}

.rows {
	display: flex;
	flex-direction: column;
}

.index{
	display: flex;
	flex-direction: row;
	max-width: $width-index;
	min-width: $width-index;
	height: 70%;
    width: 10%;
	margin: 0px 3%;

	@media screen and (max-width: $break-small) {
    	display: none;
    }

   .indexContent {
   		display: flex;
   		flex-direction: column;
   		height: 100%;

   		a {
			position: relative;
   			margin: auto 10px;
   			font-family: OpenSans;
   			font-weight: bold;
   			color: rgba(255,255,255,0.5);
   			text-decoration: none;
			transition : all 0.4s;
			padding: 8px;
			font-size : 10px;
   		}


		a:before{
			color: rgba(255,255,255,0);
			margin: auto;
			transform: rotate(270deg);
			width: 200px;
			height: 30px;
			text-align: center;
			content: attr(data-content);
			text-transform: uppercase;
			position: absolute;
			transition : all 0.4s;
			left: -90px;
   			letter-spacing: 3px;
   			top : -15px;
   			font-size: 10px;
   			display : block;
   			padding-bottom : 30px;
		}

		a:hover::before{
			left: -105px;
			color: rgba(255,255,255,0.9);
		}

		a:hover {
			color: rgba(255,255,255,0.9);
		}

   }

}

.verticalLine {
	border-left: thick solid rgba(255,255,255, 0.35);
    border-width: 2px;
    height: 100%;
}

.content {

	width: 100%;
	margin: auto;
	padding: 0px 3%;
	align-self: flex-start;

	@media screen and (max-width: $break-medium) {
		display: flex !important;
		flex-direction: column !important;
    }

	.element {
		display: block;
		text-align: center;
		margin: 30px auto;

		@media screen and (max-width: $break-medium) {
			margin: 10px auto;
		}
		@media screen and (max-width: $break-small) {
			margin: 5px auto;
		}
		@media screen and (max-width: $break-tiny) {
			margin: 2px auto;
		}

	}

	.pageTitle {
		font-size: 58px;
		letter-spacing: 20px;
		margin-bottom: 40px;

		@media screen and (max-width: $break-small) {
			font-size: 38px;
			letter-spacing: 14px;
			margin-bottom: 20px;
	    }
	}

}

.scroll {
	font-family: 'Bjorn';
	font-weight: lighter;
	font-size: 10px;
	text-align: center;
	align-self: flex-end;
	padding-bottom: 25px;
	position: relative;
	margin: 0 auto;
	cursor : pointer; 
	transition : all 0.3s;
	color: rgba(255,255,255,0.75);

	p {
		margin-bottom:12px;
	}
}

.scroll:before{
	width: 0%;
	height: 1px;
	content: '';
	background: rgba(255,255,255,0.75);
	position: absolute;
	transition : all 0.4s;
	bottom: 46px;
	left: 20%;
}

.scroll:hover::before{
	width: 60%;
	height: 1px;
	content: '';
	background: rgba(255,255,255,1);
	position: absolute;
	transition : all 0.3s;
}

.scroll:hover{
	color: rgba(255,255,255,1);
}

button {
    background-color: Transparent;
    color: white;
    border-style: solid;
    border-color: white;
    border-size: 1px;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 10px;
	font-family: 'Bjorn';
	letter-spacing: 4px;

	@media screen and (max-width: $break-small) {
	    padding: 8px 16px;
	    font-size: 10px;
    }
}

* {
	box-sizing: border-box;
}

.rounded{
    border-radius: 50%;

}

/* *** Screens - Title Screens *** */

.sectionTitle {
	display: block;
	position: relative;
	color: white;
	padding: 30px;
	margin: auto !important;
	width: 350px;
	height: 350px;
	border: 1px solid #fff;

	@media screen and (max-width: $break-large) {
		width: 280px;
		height: 280px;
    }


	@media screen and (max-width: $break-small) {
		display: none;
    }

	div {
		margin: 10% auto !important;
		display: block;
	}

	.number {
		display:block;
		text-align: center;
		font-size: 140px;
		font-family: OpenSans;
		font-weight: bold;
		vertical-align: center;
		@media screen and (max-width: $break-large) {
			font-size: 80px;
	    }
	}

	.name {
		display:block;
		text-align: center;
		font-size: 28px;
		font-family: Bjorn;
		vertical-align: center;
		letter-spacing: 8px;
		margin-top: 25px;
		@media screen and (max-width: $break-large) {
			font-size: 20px;
	    }
	}
}

.sectionTitle:after{
	width: 104%;
	height: 96%;
	content: '';
	border: 1px solid #fff;
	position: absolute;
	bottom: 2%;
	left: -2%;
}

.sectionContent {
	display:inline-block;
	width: 60%;
	color: white;
	font-size: 10px;
	vertical-align: center;
	margin-left: auto;
	margin-right: auto;

	p, .buttons {
		/*width: 80%;*/
		margin: 20px 10px;
		padding: 0px 5%;
	}

	p {
		line-height: 300%;
	}

	@media screen and (max-width: $break-large) {
		font-size: 10px;
		width: 100%;
		margin: auto;
   }

	@media screen and (max-width: $break-tiny) {
		font-size: 8px;
   }

}


form {
	input {
		color: white;
		font-family: Bjorn;
		border-style: solid;
		border-color: white;
		border-size: 1px;
		background-color: Transparent;
	}
}

/* *** HomePageConnectionScreen *** */
.homePageConnectionScreen {
	.content {
		display: block;
		margin-top: 2.5%;
		.block {
			margin: 0px auto;
			width:35%;
			display: block;
			h1 {
				font-size: 46px;
				letter-spacing: 12px;
				margin-bottom: 20%;
				text-align: center;
			}
			form {
				input {
					display: block;
					margin-left: auto;
					margin-right: auto;
					margin-top: 30px;
					width: 100%;
					height: 50px;
				}
				.submit {
					display: block;
					width: 30%;
					float: right;
				}
			}
		}
	}
}

#app .caca{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  > span {
    display: flex;
    position: relative;
    width : 100%;
    height: 100%;
    overflow: hidden;
  }
}
/* *** Index Screens *** */

.presentationPageScreen02{
	.content {
		display: flex;
		flex-direction: row;

		div {
			margin: 0px 1%;
		}

	}
}
